.m-singleInteractable {
  width: 100%;

  .a-simpleInteractable__icon {
    flex-basis: auto;
  }

  &--xs .a-basicInteractable {
    height: 25px;
    padding: 0;
    box-sizing: border-box;
    @include getTypographyStyles('label', 'xs');

    .a-simpleInteractable__icon {
      width: 14px;
    }

    .vue3-icon {
      width: 14px;
      height: 14px;
    }

    .a-simpleInteractable__separatorLine {
      width: 1px;
    }
  }

  &--sm .a-basicInteractable {
    height: 30px;
    padding: 0 4px;
    box-sizing: border-box;
    @include getTypographyStyles('label', 'sm');

    .a-simpleInteractable__icon {
      width: 18px;
    }

    .vue3-icon {
      width: 18px;
      height: 18px;
    }

    .a-simpleInteractable__separatorLine {
      width: 2px;
    }
  }

  &--md .a-basicInteractable {
    height: 42px;
    padding: 0 8px;
    box-sizing: border-box;
    @include getTypographyStyles('label', 'md');

    .a-simpleInteractable__icon {
      width: 24px;
    }

    .vue3-icon {
      width: 24px;
      height: 24px;
    }
    .a-simpleInteractable__separatorLine {
      width: 1px;
    }
  }

  &--lg .a-basicInteractable {
    height: 58px;
    padding: 0 12px;
    box-sizing: border-box;
    @include getTypographyStyles('label', 'lg');

    .a-simpleInteractable__icon {
      width: 36px;
    }

    .vue3-icon {
      width: 36px;
      height: 36px;
    }
    .a-simpleInteractable__separatorLine {
      width: 3px;
    }
  }

  &--xl .a-basicInteractable {
    height: 64px;
    padding: 0 16px;
    box-sizing: border-box;
    @include getTypographyStyles('label', 'xl');

    .a-simpleInteractable__icon {
      width: 40px;
    }

    .vue3-icon {
      width: 40px;
      height: 40px;
    }
    .a-simpleInteractable__separatorLine {
      width: 3px;
    }
  }
}
